body {
    color:black;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    margin-left:100px;
    margin-right: 50px;
    margin-top: 200px;
    
    
}


h1 {
   animation: pulse 5s infinite;
    font-weight: 100;
    font-size: 38px;
    padding-bottom:10px;
    margin-top: 150px;
    text-align: left;
}
@keyframes pulse {
  0% {
    color: lightblue;
  }
  25% {
   color: lavenderblush;
  }
  50% {
   color: #fff35c;
  }
    75% {
   color: lightcyan;
  }
      100% {
   color: lightblue;
  }
    
}
h4{
    font-size:30px;
}

h3 {
    font-weight: 50;
    margin-top: -30px;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
}
/*why won't these links change color*/
a{
    color:lightblue;
    text-decoration: none;
}
a:hover{
color:hotpink;     
}
a:visited{
color:lightblue;     
}

ul{
 margin-top:30px;
    text-align: left;
    margin-left: -40px;
 
}
li{
display:inline;
font-size: 13px;
}
*/
.header{
    background-color:white;
}
img{
    width:30%;
}
.images{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.images{
    margin-top: 40px;
}
.schedule{
    border: 5px;
}
.individual{
    margin-top:40px;

    white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */ }