body{
/*    background-color: #F9F9C7;*/
    margin-right: 130px;
    margin-left: 130px;
    font-family: trilby, serif;
}

.navigation{

    font-family: trilby, serif;
    font-weight: 400;
    font-style: normal;
padding-top:20px;
 padding-bottom: 20px;   
    padding-right: 0px;
   padding-left: -100px; 
    background-color:white;
}
ul{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration:none;
    color:black;
    
}
li{
    display:inline;
    padding: 70px;
}

@font-face {
  font-family: "Chromo1GX";
  src: url('Chromo1GX.ttf') format("truetype-variations");
  font-weight: 100 500;
}


@font-face {
  font-family: "Chromo3GX";
  src: url('Chromo3GX.ttf') format("truetype-variations");
  font-weight: 100 500;
}


@font-face {
  font-family: "Chromo4GX";
  src: url('Chromo4GX.ttf') format("truetype-variations");
  font-weight: 100 500;
}

/*
.container3:hover{
   
}  
*/

@keyframes breathe {
    0% {
        font-variation-settings: 'wght' 100; 
        
    }
    60% {
        font-variation-settings: 'wght' 500,;
       
    }
    
    100% {
        font-variation-settings: 'wght' 100;
        
    }
}
.container3 {
      
    background-color: pink;
    font-family: "Chromo8GX";
    font-size: 175px;
/*    padding-left:50px;*/
    font-weight: 100;
    margin-top: -10px;
/*    padding-top: none;*/
    padding: 80px;
    text-align: center;
    
  }

.container3:hover {
animation: pulse 5s infinite;

  
}

@keyframes pulse {
  0% {
    font-variation-settings: 'wght' 100;
  }
  35% {
    font-variation-settings: 'wght' 500;
  }
  100% {
    font-variation-settings: 'wght' 100;  
}
}
h1{
        font-size: 55px;
    color:deeppink;
    border: 3px deeppink;
    margin-left: 40px;
    text-align: center;
    
    
    }
    .title{
        margin-top:50px;
/*        background-color:white;*/
        border-bottom: 3px deeppink;
        padding:20px;
    }

.description{
/*    margin-bottom: 20px;*/
/*      text-align: center;*/
    margin-left: 300px;
    margin-right: 300px;
/*    width:400px;*/
/*
    margin-left: 60px;
    
*/
}
#color1{
    color:deepskyblue;
}


.container1{
    font-size:300px;
        font-family: 'Chromo3GX';
      font-weight: 100;
    text-align: center;
    margin-top: 20px;
      margin-bottom: 20px;
    background-color: #CCDCFF;
    
    
    
}



.container1:hover {
animation: pulse 5s infinite;

  
}

@keyframes pulse {
  0% {
    font-variation-settings: 'wght' 100;
  }
  35% {
    font-variation-settings: 'wght' 500;
  }
  100% {
    font-variation-settings: 'wght' 100;  
}
}


.container2 {
      
    background-color: #F9F9C7;
    font-family: "Chromo4GX";
    font-size: 300px;
/*    padding-left:50px;*/
    font-weight: 100;
    margin-top: -10px;
     margin-bottom: 20px;
/*    padding-top: none;*/
    padding: 80px;
    text-align: center;
    
  }

.container2:hover {
animation: pulse 5s infinite;

  
}

.container4 {
      
    background-color: paleturquoise;
    font-family: "Chromo4GX";
    font-size: 180px;
/*    padding-left:50px;*/
    font-weight: 100;
    margin-top: -10px;
    margin-bottom: 20px;
/*    padding-top: none;*/
    padding: 80px;
    text-align: center;
    
  }

.container4:hover {
animation: pulse 5s infinite;

  
}

.container5{
    font-size:300px;
        font-family: 'Chromo3GX';
      font-weight: 100;
    text-align: center;
    background-color: #CCDCFF;
     margin-bottom: 20px;
    
    
    
}



.container5:hover {
animation: pulse 5s infinite;

  
}